

/* GENERAL */

img {
    width: 100%;
    display: block;
}

/* SECTION 1 */
.img-box {
    width: 30%;
    margin: auto;
}




h1 {
    color: white;
    text-align: center;
}

/* SECTION 2 */

h2 {
    text-align: center;
    padding-top: 1.25rem;
}

.big-img > img {
    border-radius: .625rem;
}

/* SECTION 3 */
.smaller-box {
   width:80%;
   margin: 0 auto; 
}

/* FOOTER */
.dark-blue {
    background-color: darkblue;
}

.footer-size {
    font-size: .625rem;
}