

/* GENERAL */

img {
    width: 100%;
    display: block;
}


.img-box {
    width: 50%;
    margin: auto;
}




h1 {
    color: white;
    text-align: center;
}


h2 {
    text-align: center;
    padding-top: 1.25rem;
}

.big-img > img {
    border-radius: .625rem;
}

.smaller-box {
   width:80%;
   margin: 0 auto; 
}